
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* HEADER / NAVBAR CSS */
.Header {
  display: flex;
  height: 100px;
  vertical-align: middle;
}

.Header h1 {
  display: flex;
  flex: 1;
  margin: auto 20px;
  cursor: default;
  user-select: none;
  color: white;
}

.Header, .Footer {
  background-color: rgb(42, 93, 129);
}

.Nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.Nav a {
  text-decoration: none;
}

.Nav .header-button.active {
  color: white;
  border-bottom: 5px solid white;
}

.Header .header-button:hover {
  color: white;
  cursor: pointer;
}

/* Hero CSS */
.Hero {
  display: flex;
  justify-content: center;
  width: 100%;
  /* border-bottom: solid black 5px; */
  box-shadow: 0px 5px 15px;
  filter: brightness(70%);
}

.Hero-image {
  width: 100%;

}



.donation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

.Successpage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success-text {
  margin: 50px 200px 50px 200px;
  text-align: center;
  line-height: 2;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(255, 255, 255);
}


/* SHELTER PAGE  */
  /* FILTER BAR */
.FilterBar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* background-color: rgb(255, 255, 255); */
}

.FilterBar .filter-selections {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 30px auto;
  border-radius: 5px;
  background-color: rgb(243, 242, 242);
  box-shadow: 5px 10px 13px darkgray;
}

.filter-selections .name-filter {
  border-radius: 5px;
  flex: 1;
  width: 80%;
  margin-bottom: 20px;
}

.filter-selections .name-filter label {
  color: black;
  text-align: center;
}


.filter-selections .rating-filter, .filter-selections .animals-filter  {
  display: flex;
  align-items: center;
  width: 45%;
}

  /* SHELTER LIST */
.ShelterList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shelters-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.shelter-card {
  margin: 15px 5px 15px 5px;
  box-sizing: border-box;
}

.shelter-card img {
  border-radius: 10px;
}



.shelter-card .shelter-info {
  position: relative;
}


.shelter-info .shelter-rating {
  position: absolute;
  top: 10px;
  right: 0;
  padding: 10px;
}

.shelter-info .animals-kept {
  position: absolute;
  top: 30px;
  right: 0;
  padding: 10px;
}

  color: rgb(80, 80, 80);
}

.image-container {
  width: 350px;
  /* Set the desired width */
  height: 300px;
  /* Set the desired height */
  overflow: hidden;

}

.image-container img {
  width: 100%;
  height: 100%;
}

.image-list-container {
  display: flex;
  justify-content: center;
}
